.drop {
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    padding: 8px 0 8px 24px;
    column-count: 4;
}

.wrapper {
    width: 100%;
    z-index: 1;
    background-color: white;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.87);
    -webkit-tap-highlight-color: transparent;
    margin-top: 0;
    height: calc(100vh - 226px);
    overflow-y: auto;
}

.container {
    width: 100%;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.search {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2);
    height: 56px;
    z-index: 1;
    position: relative;
}

.input {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: #fff;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    padding: 15px 30px;
}